<template name="taskItem">
  <li class="{{#if checked}}checked{{/if}} taskItem">
    <div class="row">

      <div class="col-md-6">
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
        <span class="title">{{title}} ({{length}})</span>
      </div>

      <div class="col-md-6">
        <button class="action-button delete" data-toggle="tooltip" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        {{#if isScheduled}} <!-- unschedule button -->
          <span class="date">{{scheduledDateString}}</span>
          <button class="action-button unschedule" data-toggle="tooltip" title="Unschedule">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        {{else}} <!-- schedule button -->
          <button class="action-button schedule" data-toggle="tooltip" title="Schedule">
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        {{/if}}

        <button class="action-button edit" data-toggle="tooltip" title="Edit">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>
    </div>
  </li>
</template>