<template name="taskSubmitForm">
  <form class="main form" id="submitForm">
    <div class="form-group">
      <div class="controls">
        <input name="title" id="title" type="text" value="" placeholder="Type to add new task" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <input name="date" type="text" class="form-control date-picker" id="date-picker" placeholder="Date"/>
        <!-- <div id="date-picker"></div> -->
        <input name="length" id="length" type="number" value="" class="form-control" placeholder="Length (in minutes)" />
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <input name="tags" type="text" data-role="tags-input" class="form-control" id="tags" placeholder="Tags" />
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>