<template name="changeSettings">
  <form class="main form-horizontal" id="changeSettingsForm">
    <div class="form-group">
      <div class="controls">
        <label for="calendars" class="col-md-3 control-label">Calendars to Use</label>
        <div class="col-md-9">
          {{> calendarList}}
        </div>
      </div>
    </div>
    <!-- TODO: this needs to be fixed! -->
    <!-- <div class="form-group">
      <label for="roundMinutes" class="col-md-3 control-label">Rounding (in minutes)</label>
      <div class="col-md-9">
        <li id="login-dropdown-list" class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Round Minutes <span class="caret"></span>
          </button>
          <select class="dropdown-menu scrollable-menu">
            {{#each options}}
              <option name="{{value}}"> {{value}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <p class="help-block">This is the number of minutes to round scheduling times to;
        for example, selecting "5" means scheduling will be rounded to the nearest multiple of 5 minutes.</p>
    </div> -->
  </form>
</template>